.estatistica {
    display: flex;
    flex-direction: column;
    margin: 10px;

}

.valor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    font-size: 4rem;
}

.texto {
    display: flex;
    justify-content: center;
    color: #ddd;
    font-size: 1.7rem;
    font-weight: 200; 
}